@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Geist", sans-serif;
}
/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none; /* hides scrollbar */
  -ms-overflow-style: none; /* for IE and Edge Legacy */
}

html {
  scroll-behavior: smooth;
}
